<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Downloaded CSS -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  <title>Mobix</title>
</head>
<body style="background-color:white;">
<nav class="navbar navbar-expand-lg navbar-dark static-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="../assets/Ikona.png" alt="logo" style="width:50px;height:50px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div *ngIf="isEnglish===true; else isBosnian" class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li [ngClass]="{'active': activeRoute === '/'}" class="nav-item">
          <a class="nav-link" routerLink="/">
            Home
          </a>
        </li>
        <li [ngClass]="{'active': activeRoute === '/about'}" class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li [ngClass]="{'active': activeRoute === '/cart'}" class="nav-item">
          <a class="nav-link" routerLink="/cart">Cart</a>
        </li>
        <li [ngClass]="{'active': activeRoute === '/catalog'}" class="nav-item">
          <a class="nav-link" routerLink="/catalog">Catalog</a>
        </li>
        <li [ngClass]="{'active': activeRoute === '/contact'}" class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>


        <li [ngClass]="{'active': activeRoute === '/login'}" class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li [ngClass]="{'active': activeRoute === '/about'}" class="nav-item">
          <a class="nav-link" routerLink="/about">Register</a>
        </li>


        <li [ngClass]="{'active': activeRoute === '/indexBa'}" class="nav-item">
          <a class="nav-link" routerLink="/indexBa" (click)="isEnglish=false">BA</a>
        </li>
        <li [ngClass]="{'active': activeRoute === '/index'}" class="nav-item">
          <a class="nav-link" routerLink="/index" (click)="isEnglish=true">ENG</a>
        </li>
      </ul>
    </div>


    <ng-template #isBosnian>
    <div class="collapse navbar-collapse" id="navbarResponsive1">
      <ul class="navbar-nav ml-auto">
        <li [ngClass]="{'active': activeRoute === '/indexBa'}" class="nav-item">
          <a class="nav-link" routerLink="/indexBa">
            Početna
          </a>
        </li>
        <li [ngClass]="{'active': activeRoute === '/aboutBa'}" class="nav-item">
          <a class="nav-link" routerLink="/aboutBa">O nama</a>
        </li>
        <li [ngClass]="{'active': activeRoute === '/cartBa'}" class="nav-item">
          <a class="nav-link" routerLink="/cartBa">Korpa</a>
        </li>
        <li [ngClass]="{'active': activeRoute === '/catalogBa'}" class="nav-item">
          <a class="nav-link" routerLink="/catalogBa">Ponuda</a>
        </li>
        <li [ngClass]="{'active': activeRoute === '/contactBa'}" class="nav-item">
          <a class="nav-link" routerLink="/contactBa">Kontaktirajte nas</a>
        </li>


        <li [ngClass]="{'active': activeRoute === '/aboutBa'}" class="nav-item">
          <a class="nav-link" routerLink="/aboutBa">Prijavite se</a>
        </li>
        <li [ngClass]="{'active': activeRoute === '/aboutBa'}" class="nav-item">
          <a class="nav-link" routerLink="/aboutBa">Registrujte se</a>
        </li>


        <li [ngClass]="{'active': activeRoute === '/indexBa'}" class="nav-item">
          <a class="nav-link" routerLink="/indexBa" (click)="isEnglish=false">BA</a>
        </li>
        <li [ngClass]="{'active': activeRoute === '/index'}" class="nav-item">
          <a class="nav-link" routerLink="/index" (click)="isEnglish=true">ENG</a>
        </li>
      </ul>
    </div>
    </ng-template>

    </div>
</nav>


<router-outlet></router-outlet>

<!--<app-carousel [autoSlide]="true">

</app-carousel> -->

<!-- Site footer -->
<footer *ngIf="isEnglish===true; else bosnianFooter" class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">Visit us at FIT Mostar</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a routerLink="/catalog">iPhone</a></li>
          <li><a routerLink="/catalog">Samsung</a></li>
          <li><a routerLink="/catalog">Huawei</a></li>
          <li><a routerLink="/catalog">Redmi</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
          <li><a routerLink="/catalog">Shop</a></li>
          <li><a routerLink="/privacy">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
           <a style="color: white" routerLink="/">Mobix online shop 2023</a>
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="www.facebook.com"><i class="fab fa-facebook"></i></a></li>
          <li><a class="twitter" href="www.twitter.com"><i class="fab fa-twitter"></i></a></li>
          <li><a class="linkedin" href="www.linkedin.com"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<ng-template #bosnianFooter>
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>O nama</h6>
        <p class="text-justify">Posjetite nas na FIT Mostar</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Kategorije</h6>
        <ul class="footer-links">
          <li><a routerLink="/catalog">iPhone</a></li>
          <li><a routerLink="/catalog">Samsung</a></li>
          <li><a routerLink="/catalog">Huawei</a></li>
          <li><a routerLink="/catalog">Redmi</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Brzi linkovi</h6>
        <ul class="footer-links">
          <li><a routerLink="/aboutBa">O nama</a></li>
          <li><a routerLink="/contactBa">Kontaktirajte nas</a></li>
          <li><a routerLink="/catalogBa">Trgovina</a></li>
          <li><a routerLink="/privacyBa">Privatnost</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          <a style="color: white" routerLink="/">Mobix online shop 2023</a>
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="www.facebook.com"><i class="fab fa-facebook"></i></a></li>
          <li><a class="twitter" href="www.twitter.com"><i class="fab fa-twitter"></i></a></li>
          <li><a class="linkedin" href="www.linkedin.com"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</ng-template>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>








